:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'riverna_sidegrunge';
    src: url('./fonts/riverna_side-grunge-webfont.woff2') format('woff2'),
         url('./fonts/riverna_side-grunge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}