:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

@font-face {
    font-family: 'riverna_sidegrunge';
    src: url('./fonts/riverna_side-grunge-webfont.woff2') format('woff2'),
         url('./fonts/riverna_side-grunge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    list-style: none;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

h1 {
    font-family: riverna_sidegrunge;
    font-size: 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 30%;
}

.logo img {
    margin: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: red;
    background: no-repeat url(./assets/thomas-le-KNQEvvCGoew-unsplash.jpg) center/100vh;
    width: clamp(10%, 40%, 600px);
    height: 100%;
}

.banner {
    height: 95vh;
}

nav {
    height: 5vh;  
}

main {
    background-color: black;
    width: 60%;
    height: 100%;
}